.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
  background: linear-gradient(120deg, #2a2a2a, #1d1d1d);
}

.content {
  /* margin-left: 0px; */
  max-width: 600px;
}

.content h1 {
  font-size: 3rem;
  margin-left:.5rem;
}


.content p {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left:.5rem;
}


.profileimage img {
  height: 60vh;
  width: auto;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-right: .5rem;
}

@media (max-width: 768px) {
  .footer-socials {
    flex-direction: column;
    /* Stack social links vertically on small screens */
    gap: 15px;
    /* Reduce gap between links */
  }

  .profileimage img {
    height: 25vh;
    width: auto;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-right: 12px;
  }
}